{% load static %}


<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'User/css/style.css' %}">


</head>

<body>
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<div class="container">
	<section id="content">
        {% block form %} {% endblock %}
	</section><!-- content -->
</div><!-- container -->
</body>
</html>

</body>
</html>
